        <div class="header">
            <div style="float: right; font-style: italic; text-align: right">
                A Project of the LMU Bioinformatics Group<br/>
                <a href="http://www.lmu.edu"><img src="{{ site.baseurl }}/assets/img/home_lmu_logo.gif" alt="LMU Logo" height="85" width="137"/></a>
            </div>
            <h1 class="title"><a id="top">XMLPipeDB</a></h1>
            <p>A Reusable, Open Source Tool Chain for Building Relational Databases from XML Sources</p>
        </div>