    <div class="sidebar">
        <div class="header-logo"><a href="http://sourceforge.net/projects/xmlpipedb">
            <object type="application/x-shockwave-flash" data="{{ site.baseurl }}/assets/img/AnimatedPipeLogo-single.swf" width="175" height="100">
                <param name="movie" value="img/AnimatedPipeLogo-single.swf" />
                <img src="{{ site.baseurl }}/assets/img/logo-BlackOutlineWhite-Pipe.jpg" alt="XMLPipeDB Logo" width="175" height="100"/>
            </object>
        </a></div>
        <div class="menubar">
            <ul>
                {% include links.html %}
            </ul>
            <p style="text-align: center">
                <a href="http://validator.w3.org/check?uri=referer"><img style="width:88px; height:31px" src="http://www.w3.org/Icons/valid-xhtml11.gif" alt="Valid XHTML 1.1" height="31" width="88"/></a>
                <a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="width:88px; height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS" height="31" width="88"/></a>
            </p>
        </div>
    </div>