                <li class="menuitem"><a href="{{ site.baseurl }}/index.html">Home</a></li>
                <li class="menuitem"><a href="{{ site.baseurl }}/about.html">About</a></li>
                <li class="menuitem"><a href="{{ site.baseurl }}/news.html">News</a></li>
                <li class="menuitem"><a href="{{ site.baseurl }}/download.html">Download</a></li>
                <li class="menuitem"><a href="{{ site.baseurl }}/documentation.html">Documentation</a></li>
                <li class="menuitem"><a class="external" href="http://xmlpipedb.sourceforge.net/wiki">Wiki</a></li>
                <li class="menuitem"><a href="{{ site.baseurl }}/publications.html">Publications</a></li>
                <!--
                <li class="menuitem"><a href="faq.shtml">FAQ</a></li>
                -->
                <li class="menuitem"><a href="{{ site.baseurl }}/people.html">People</a></li>
                <li class="menuitem"><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
                <li class="menuitem"><a href="{{ site.baseurl }}/links.html">Links</a></li>