                <p>
                    XMLPipeDB was created by the Bioinformatics Group at Loyola Marymount 
                    University, a collaborative research group founded by 
                    <a href="http://myweb.lmu.edu/kdahlqui">Dr. Kam D. Dahlquist</a> 
                    (<a href="http://cse.lmu.edu/department/biology/">Department of Biology</a>) 
                    and <a href="http://myweb.lmu.edu/dondi">Dr. John David N. Dionisio</a> 
                    (<a href="http://cse.lmu.edu/department/electricalengineeringandcomputerscience/">
                    Department of Electrical Engineering and Computer Science</a>). XMLPipeDB 
                    development began in Spring 2006 as a group project in a special studies 
                    course in <a href="http://myweb.lmu.edu/dondi/spring2006/cmsi698">
                    Bioinformatics (CMSI 698/BIOL 498)</a> team-taught by Drs. Dahlquist and 
                    Dionisio. Development continued in a second special studies course, 
                    <a href="http://myweb.lmu.edu/dondi/summer2006-1/cmsi698">Open Source 
                    Software Development Workshop (CMSI 698/598)</a> and has transitioned into 
                    an undergraduate Biological Databases (CMSI 367, BIOL 367, HNRS 398) course 
                    taught in <a href="http://myweb.lmu.edu/dondi/fall2008/cmsi398">Fall 2008</a>, 
                    <a href="http://myweb.lmu.edu/dondi/fall2009/cmsi398">Fall 2009</a>, and 
                    <a href="http://myweb.lmu.edu/dondi/fall2010/cmsi367">Fall 2010</a>. 
                    XMLPipeDB also follows the philosophy of Dr. Dionisio's 
                    <a href="http://portal.acm.org/citation.cfm?id=1272848.1272888">Recourse</a> 
                    project, which seeks to introduce an open source culture into the computer 
                    science curriculum.
                </p>
