body {
    margin: 0em 1em 0em 1em;
    background: white;
    font-family: Georgia, Serif;
}

/* "Live-link" styles. */
a:link {
    color: maroon
}

a:visited {
    color: #666;
}

a:hover {
    color: #c03;
    text-decoration: underline
}

a:active {
    color: #999
}

/* Default to no image borders. */
img {
    border: 0
}

/* List defaults. */
ul {
    padding-bottom: 0.25em
}

li ul {
    padding-top: 1ex
}

ol {
    padding-bottom: 0.25em
}

li {
    margin: 0.25em 0;
    padding-bottom: 0.25em
}

/* Heading defaults. */
#content h2,h3,.header {
    font-family: Georgia, Serif;
}

#content h2 {
    padding-top: 0.5em;
    padding-bottom: 0;
    text-align: center;
}

#content h3,.header {
    border-bottom: solid 1px #ccc;
}

#content h3 {
    padding-bottom: 0.25em;
}

#content h4 {
    margin-bottom: 0;
    font-family: sans-serif;
}

.sidebar,.menubar,.header-logo {
    float: left;
    width: 12.5em
}

.main {
    margin-left: 14em;
    padding-left: 1em;
    padding-right: 1em
}

.header-logo,.header {
    height: 8em;
    padding-bottom: 0.25em
}

.header-logo {
    text-align: center;
    vertical-align: middle;
}

.footer {
    text-align: center;
    /* border-top: solid 1px #ccc; */
    padding-top: 1em;
    vertical-align: baseline;
}

.footnote {
    font-size: 75%;
    font-style: italic;
    text-align: right;
}

.dataline {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
}

.majorhead {
    text-align: left
}

.majorhead h3 {
    border-bottom: none;
}

.minorhead {
    margin-top: 1em;
    margin-bottom: 0;
    font-style: italic;
}

.announcement {
    padding-left: 1ex;
    padding-right: 1ex;
    margin: 1ex;
    background-color: #fdd;
}

.picset {
    text-align: center
}

.bodypic {
    display: inline;
    padding: 0.5ex
}

.contributorBlock {
    display: inline;
}

/* menu visuals. */
.menubar {
    background-color: white;
    border: solid 1px #ccc;
    padding: 1ex 1ex 1ex 1em;
}

.menubar ul {
    font-size: 95%;
    font-family: Georgia, Serif;
    padding: 0em 0em 0.5ex 1em
}

.menubar ul:first-child {
    margin-top: 1ex
}

/* Defined so that the top-level menu can have different visuals, if desired. */
.menutop {
    padding-left: 1ex
}

.menuitem,.menutitle {
    padding-bottom: 1.0ex;
    padding-top: 1.0ex;
}

.footermenu li:first-child {
    border: none;
}

.footermenu li {
    display: inline;
    padding: 0 1ex 0 1.5ex;
    border-left: solid 1px #666;
}

/* Even/odd coloring. */
.even {
    background-color: #ddd
}

.odd {
    background-color: #eee
}

.cell {
    vertical-align: text-top;
    margin: 0;
    padding: 1ex
}

/* Primarily used to mark external links (anchor tags). */
.external,.google,.wp {
    background-repeat: no-repeat;
    background-position: center right
}

.external {
    padding-right: 18px; /* corresponds to image width */
    background-image: url(external-link.gif)
}

/* Special badge for Google search links. */
.google {
    padding-right: 26px; /* corresponds to image width */
    background-image: url(google-link.gif)
}

/* Special badge for Wikipedia search links. */
.wp {
    padding-right: 26px; /* corresponds to image width */
    background-image: url(wikipedia-link.gif)
}